<ion-view title="config">
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-divider">내보내기/가져오기</ion-item>
            <ion-item>매물정보 내보내기</ion-item>
            <ion-item>매물정보 가져오기</ion-item>
            <ion-item>옵션 내보내기</ion-item>
            <ion-item>옵션 가져오기</ion-item>
            <ion-item>내보내기 경로</ion-item>
            <ion-item class="item-divider">PUSH 알림</ion-item>
            <ion-toggle toggle-class="toggle-positive">PUSH 알림</ion-toggle>
            <ion-item>알림 기준</ion-item>
            <ion-item class="item-divider">보안</ion-item>
            <ion-item>비밀번호로 보호</ion-item>
        </ion-list>
    </ion-content>
</ion-view>